### Considerazioni sulle feature da eliminare e da tenere per l'oversampling

In [1]:
import pandas as pd

dataset = pd.read_csv('/home/biso/Tirocinio/tirocinio/datiLussazioniDefinitivi.csv', delimiter=';')
dataset

,CASE_ID,BREED,GENDER_01,AGEATSURGERYmo,BODYWEIGHTKG,Taglia,BCS,INDICATIONFORTHR,HIPRL,YEAR,...,NECKSIZE,HEADSIZE,ALO,CUPRETROVERSION,STEMANTEVERSIONREAL,RECTUSFEMORISM.RELEASE,first_lux_days_after_thr,DIRECTION,LUX_01,LUX_CR
0,1,3,0,"56,5","31,6",1,5,4,R,2021,...,4,1,46.0,15,"17,7",NO,NaN,NaN,0,0
1,2,8,0,"9,4","40,9",1,5,4,L,2021,...,5,1,40.0,25,"27,7",NO,NaN,NaN,0,0
2,3,10,0,"15,1333333333333",35,1,5,4,R,2021,...,4,1,42.0,20,"27,7",YES,NaN,NaN,0,0
3,4,6,0,"83,4333333333333","18,7",0,6,4,L,2021,...,4,0,40.0,18,"24,2",NO,NaN,NaN,0,0
4,5,5,0,"7,53333333333333","36,4",1,4,4,L,2021,...,5,1,42.0,28,"25,9",YES,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,3193,3,0,"57,4333333333333",25,1,5,2,R,2010,...,3,0,43.0,32,"27,7",NO,35.0,CRANIO-DORSALE,1,1
3193,3194,5,1,"49,2333333333333",38,1,6,2,R,2009,...,4,0,48.0,26,"25,9",NO,18.0,CRANIO-DORSALE,1,1
3194,3195,13,0,"38,0333333333333",43,1,5,2,R,2008,...,4,0,48.0,4,"11,5",NO,30.0,CRANIO-DORSALE,1,1
3195,3196,5,1,"11,5333333333333",28,1,5,2,R,2001,...,4,0,52.0,10,"31,3",NO,26.0,CRANIO-DORSALE,1,1
3196,3197,3,0,"9,53",36,1,5,2,L,2020,...,4,1,43.0,35,"17,7",NO,83.0,CRANIO-DORSALE,1,1

In [2]:
import sys 

sys.path.append('/home/biso/Tirocinio/tirocinio/base_lib')

In [3]:
import functions as func
import models

In [4]:
dataset = func.clean_dataset(dataset)

In [5]:
dataset

,CASE_ID,BREED,GENDER_01,AGEATSURGERYmo,BODYWEIGHTKG,Taglia,BCS,INDICATIONFORTHR,HIPRL,YEAR,...,NECKSIZE,HEADSIZE,ALO,CUPRETROVERSION,STEMANTEVERSIONREAL,RECTUSFEMORISM.RELEASE,first_lux_days_after_thr,DIRECTION,LUX_01,LUX_CR
0,1,3,0,56.500000,31.6,1,5.0,4,1.0,2021,...,4,1,46.0,15,17.7,0,NaN,NaN,0,0
1,2,8,0,9.400000,40.9,1,5.0,4,0.0,2021,...,5,1,40.0,25,27.7,0,NaN,NaN,0,0
2,3,10,0,15.133333,35.0,1,5.0,4,1.0,2021,...,4,1,42.0,20,27.7,1,NaN,NaN,0,0
3,4,6,0,83.433333,18.7,0,6.0,4,0.0,2021,...,4,0,40.0,18,24.2,0,NaN,NaN,0,0
4,5,5,0,7.533333,36.4,1,4.0,4,0.0,2021,...,5,1,42.0,28,25.9,1,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,3193,3,0,57.433333,25.0,1,5.0,2,1.0,2010,...,3,0,43.0,32,27.7,0,35.0,0.0,1,1
3193,3194,5,1,49.233333,38.0,1,6.0,2,1.0,2009,...,4,0,48.0,26,25.9,0,18.0,0.0,1,1
3194,3195,13,0,38.033333,43.0,1,5.0,2,1.0,2008,...,4,0,48.0,4,11.5,0,30.0,0.0,1,1
3195,3196,5,1,11.533333,28.0,1,5.0,2,1.0,2001,...,4,0,52.0,10,31.3,0,26.0,0.0,1,1
3196,3197,3,0,9.530000,36.0,1,5.0,2,0.0,2020,...,4,1,43.0,35,17.7,0,83.0,0.0,1,1

In [6]:
dataset.dtypes

CASE_ID                       int64
BREED                         int64
GENDER_01                     int64
AGEATSURGERYmo              float64
BODYWEIGHTKG                float64
Taglia                        int64
BCS                         float64
INDICATIONFORTHR              int64
HIPRL                       float64
YEAR                          int64
n_luxation                  float64
GENERATION                    int64
STEMSIZE                      int64
CUPSIZE                       int64
NECKSIZE                      int64
HEADSIZE                      int64
ALO                         float64
CUPRETROVERSION               int64
STEMANTEVERSIONREAL         float64
RECTUSFEMORISM.RELEASE        int64
first_lux_days_after_thr    float64
DIRECTION                   float64
LUX_01                        int64
LUX_CR                        int64
dtype: object

Una feature che può essere eliminata dal dataset è 'HIPRL', che indica da che parte è stata fatta l'operazione (se a destra o a sinistra).

Un'altra feature che può essere eliminata è 'INDICATIONFORTHR'.

In [7]:
# elimino le due feature
dataset = dataset.drop(['HIPRL', 'INDICATIONFORTHR'], axis=1)

In [8]:
dataset

,CASE_ID,BREED,GENDER_01,AGEATSURGERYmo,BODYWEIGHTKG,Taglia,BCS,YEAR,n_luxation,GENERATION,...,NECKSIZE,HEADSIZE,ALO,CUPRETROVERSION,STEMANTEVERSIONREAL,RECTUSFEMORISM.RELEASE,first_lux_days_after_thr,DIRECTION,LUX_01,LUX_CR
0,1,3,0,56.500000,31.6,1,5.0,2021,NaN,6,...,4,1,46.0,15,17.7,0,NaN,NaN,0,0
1,2,8,0,9.400000,40.9,1,5.0,2021,NaN,6,...,5,1,40.0,25,27.7,0,NaN,NaN,0,0
2,3,10,0,15.133333,35.0,1,5.0,2021,NaN,6,...,4,1,42.0,20,27.7,1,NaN,NaN,0,0
3,4,6,0,83.433333,18.7,0,6.0,2021,NaN,6,...,4,0,40.0,18,24.2,0,NaN,NaN,0,0
4,5,5,0,7.533333,36.4,1,4.0,2021,NaN,6,...,5,1,42.0,28,25.9,1,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,3193,3,0,57.433333,25.0,1,5.0,2010,1.0,4,...,3,0,43.0,32,27.7,0,35.0,0.0,1,1
3193,3194,5,1,49.233333,38.0,1,6.0,2009,1.0,4,...,4,0,48.0,26,25.9,0,18.0,0.0,1,1
3194,3195,13,0,38.033333,43.0,1,5.0,2008,2.0,3,...,4,0,48.0,4,11.5,0,30.0,0.0,1,1
3195,3196,5,1,11.533333,28.0,1,5.0,2001,1.0,2,...,4,0,52.0,10,31.3,0,26.0,0.0,1,1
3196,3197,3,0,9.530000,36.0,1,5.0,2020,2.0,6,...,4,1,43.0,35,17.7,0,83.0,0.0,1,1